<!DOCTYPE html>
<html lang="nl-NL">
  <head>
    <meta charset="UTF-8">
    <title>Agenda checker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    <header class="main-header">
      <div class="wrapper">
        <h1>Agenda</h1>
        <span class="date">7 Mei</span>
      </div>
    </header>
    <div class="wrapper">
      <article class="company-agenda">
        <h2>De Voorhoede</h2>
        <table class="appointment-table">
          <thead>
            <tr>
              <th class="current-time-cell">23:59</th>
              <th class="description-cell"></th>
              <th class="reason-cell">Reden</th>
              <th class="status-cell">Verschenen?</th>
            </tr>
          </thead>
          <tbody class="appointment-list">
          </tbody>
        </table>
        <p class="no-appointments">Er zijn op het moment geen afspraken ingepland door De Voorhoede.</p>
      </article>
    </div>
    <script src="./javascripts/script.js"></script>
  </body>
</html>
